.wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.title {
	margin: 0 0 30px 0;
	font-size: 20px;
}

.pokemosContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.pokemon {
	width: 400px;
}
