.wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.title {
	padding: 20px 0;
	font-size: 20px;
	text-align: center;
}

.listContainer {
	max-width: 800px;
	padding: 10px;
	border-radius: 20px;
	background: rgb(109, 107, 107);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
