.item {
	max-width: 300px;
	padding: 10px 15px;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background: rgb(167, 163, 163);
}

.title {
	margin-bottom: 10px;
}

.button {
	padding: 5px 10px;
	background: rgb(139, 114, 114);
	&:hover {
		background: rgb(104, 86, 86);
	}
}
